html,
body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: #f7f7f6;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #205781;
}

header h1 {
  margin: 0;
  color: white;
  font-weight: 600;
}

#add {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
  transition: transform 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
#add:active {
  transform: scale(0.9);
}

main {
  flex: 1;
  padding: 2rem 4rem 2rem 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 20rem);
  row-gap: 3rem;
  column-gap: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-weight: 500;
}

footer svg {
  height: 1rem;
}

footer a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  color: black;
}

dialog {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

dialog[open] {
  animation: fadein 0.3s ease-in forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#bookForm {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  padding: 1rem 2rem 1rem 2rem;
}

#bookForm input {
  margin-bottom: 1rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  /* border-radius: 4px; */
}

#submit {
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  border: none;
  background-color: white;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 0.9rem;
}

#submit:hover {
  background-color: #f7f7f6;
}

.bookCard {
  background-color: white;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  width: 18rem;
  height: 16rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
}

.bookCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bookCard > h1 {
  margin: 0;
}
.bookCard label,
h3,
div {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0 0.5rem 0;
}
.bookCard > button {
  margin-top: 1rem;
}

.remove {
  background-color: oklch(0.637 0.237 25.331);
  border: none;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 1rem;
}

.remove:hover {
  background-color: oklch(0.704 0.191 22.216);
}

/*
205781
4F959D
98D2C0
F6F8D5
*/
